<h2>Add Task</h2>
<div class="form">
  <form>
    <div class="form-group mx-3">
      <label for="task" [style.font-weight]="'bolder'" class="mb-3"
        >Task:</label
      >
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Enter a task to add in a list"
        [(ngModel)]="taskvalue"
        [ngModelOptions]="{ standalone: true }"
      />
      <button type="submit" class="btn btn-success mb-2" (click)="addTask()">
        Add Task
      </button>
    </div>
  </form>
</div>
